body {
    background-color: beige;
}

#videolanding {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
}

.contenedorvideo {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin-bottom: 170px;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
    .background-clip {
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio: 16/9) {
    .background-clip {
        width: auto;
        height: 100%;
    }
}

header a {
    color: white !important;
    font-size: 30px !important;
}

.header {
    /* From https://css.glass */
    background: rgba(172, 172, 172, 0.06);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.5px);
    -webkit-backdrop-filter: blur(3.5px);
    border: 1px solid rgba(172, 172, 172, 0.15);
}

.performancefrontier {
    color: white;
    text-align: left !important;
}

.padding_landing {
    margin-top: 100px !important;
}

.card {

    background-color: #000000 !important;


    color: #ffffff !important;


    border: 1px solid #333333;
}


.card-body p {
    color: #ffffff !important;
}


.card-text-price {
    color: #00ff00 !important;
    font-weight: bold;
    font-size: 1.2em;
}

.colordeals {
    color: gray;
}

.backgroundj {
    background-color: cadetblue;
}

.background {
    background-color: #141414;
}

.texto-blanco {
    color: white;
}

.margin-titulos {
    margin-bottom: 25px;

}

.margin-mid {
    margin-bottom: 100px;
}

.par-just {
    text-align: justify;
}

.pad-img-mission {
    margin-left: 35px;
}

.margin-marcas {
    margin-left: 20px;
    margin-right: 20px;
}

.pad-mission {
    padding: 50px 100px;
}

.redondeo {
    border-radius: 35px;
}

.pad-rows {
    padding: 20px 200px;
}

.pad-par {
    padding: 10px 50px;
    font-size: 24px;
}

.foot {
    background-color: black;
}

.pad-foot {
    padding: 50px 80px;
}

.margin-logo {
    margin-right: 5px;
}

.texto-foot {
    color: white;
    font-size: 26px;
}

.par-foot {
    font-size: 24px;
}

.icons {
    font-size: 32px;
}

.border-marcas {
    border-radius: 25px;
}

.px-largo {
    width: 1200px !important;
    padding-top: 50px;
}

.icono_grande {
    font-size: 300px;
    background-color: #000000;
    padding-left: 150px;
    padding-right: 150px;
    border-radius: 60px;
}